<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <title>PHP+Elasticsearch搜索测试</title>
        <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <form role="form">
                    <div class="form-group">
                        <label for="content">请输入关键词</label>
                        <input type="text" class="form-control" id="content" placeholder="请输入关键词">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>

            <div class="row book_detail">
            </div>

            <div class="row">
                <ul class="pager">
                    <!--<li class="previous disabled"><a href="#">&larr; Older</a></li>-->
                    <!--<li class="next"><a href="#">Newer &rarr;</a></li>-->
                </ul>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function(){
            $("button").click(function(){
                search(1);
                return false;
            });

            $(".pager").delegate(".previous", "click", function(){
                var page = $('#page').html() - 1;
                var page_size = parseInt($('#page_size').html());
                if (page < 1) {
                    return false;
                } else if (page >= 1) {
                    search(page);
                }
            });
            $(".pager").delegate(".next", "click", function(){
                var page = parseInt($('#page').html()) + 1;
                var page_size = parseInt($('#page_size').html());
                if (page > page_size) {
                    return false;
                } else if (page <= page_size) {
                    search(page);
                }
            });

            var search = function (page) {
                // 封装请求参数
                var param = {};
                // 书名
                param.content = $('#content').val();
                // 当前页码
                param.page = page;
                //console.log(param);

                $.ajax({
                    type: "GET",
                    url: "../search.php",
                    cache: false,  //禁用缓存
                    data: param,  //传入组装的参数
                    dataType: "json",
                    success: function (result) {
                        console.log(result);
                        $('.book_detail').empty();
                        $('.pager').empty();
                        var html = '';
                        var pagination = '';
                        if (200 == result.code) {
                            if (result.total > 0) {
                                $.each(result.data, function(key, value){
                                    var book = value._source;
                                    var highlight = value.highlight;
                                    if (highlight.book_name) {
                                        html += '<h4>' + highlight.book_name + '</h4>';
                                    } else {
                                        html += '<h4>' + book.book_name + '</h4>';
                                    }
                                    html += '<ul>';
                                    html += '<li> 作者：' + book.book_author + '</li>';
                                    html += '<li> 评分：' + book.book_star + '</li>';
                                    html += '<li> 评价量：' + book.book_pl + '</li>';
                                    if (highlight.book_desc) {
                                        html += '<li> 概述：' + highlight.book_desc + '</li>';
                                    } else {
                                        html += '<li> 概述：' + book.book_desc + '</li>';
                                    }
                                    html += '<li> 出版商：' + book.book_publish + '</li>';
                                    html += '<li> 出版日期：' + book.book_date + '</li>';
                                    html += '</ul>';
                                })
                                html += '<h4>共<span id="total">' + result.total + '</span>条数据，共<span id="page_size">' + result.page_size + '</span>页，当前是第<span id="page">' + result.page + '</span>页</h4>';

                                if (result.page_size > 1) {
                                    pagination += '<li class="previous"><a href="#">&larr; Older</a></li>';
                                    pagination += '<li class="next"><a href="#">Newer &rarr;</a></li>';
                                }
                            } else {
                                html += '<h4>暂无相关信息!</h4>';
                            }

                            $('.book_detail').append(html);
                            $('.pager').append(pagination);
                        } else {
                            alert(result.message);
                        }
                    }
                });
            }
        });
    </script>
</html>
